@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

html {
  box-sizing: border-box;
  height: 100%;

}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--text);
  font-size: 16px;
  position: relative;
  
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;

}
main {
  min-height: calc(100vh - 70px);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.wrapper {
  height: 100vh;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  will-change: transform;
}
.each-slide {
  width: 100vw;
  height: 100vh;
  float: left;
  line-height: 100vh;
  font-size: 40vh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
}
/* .toggle-play{
  background: transparent;
  border: none;
  height: auto;
  position: absolute;
  width: auto;
  right: 5%;
  bottom: 9px;
  color: #3d3d3d;
  z-index: 1000000;

  
}
.toggle-play:hover{
  text-decoration: none;
  opacity: .7;
  cursor: pointer;
} */
.dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  z-index: 10;
  list-style-type: none;
}
.dots {
  display: inline-block;
  padding: 5px;
}
.dots:active button {
  color: #00d8ff;
}
.phone__number{
  padding-left: 12px;
  font-size: 20px;
  font-weight: 700;
}
.CallUs{
  font-size : 14px ; 
}