@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
  color: var(--text);
  font-size: 16px;
  position: relative;
  overscroll-behavior-y: none;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
main {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  will-change: transform;
}

.dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  z-index: 10;
  list-style-type: none;
}
.dots {
  display: inline-block;
  padding: 5px;
}
.dots:active button {
  color: #00d8ff;
}
.phone__number {
  padding-left: 12px;
  font-size: 20px;
  font-weight: 700;
}
.CallUs {
  font-size: 14px;
}
.post__section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "Open Sans";
  color: #666;
  font-size: 16px;
  font-weight: 400;
  margin: 100px auto;
}
.post__section img {
  width: 100%;
}
.post__section p {
  padding: 10px;
  text-align: start;
}

.sliderContent {
  font-size: 20px;
  text-align: center;
}

.slider {
  height: 650px !important ;
}
.sliderTitle {
  color: #ed2433;
  font-size: 160px;
  font-weight: 400;
  line-height: 0.7em;
  margin: 0 0 40px;
  font-family: "ZCOOL XiaoWei", serif;
  display: block;
}
.sliderAlt {
  font-size: 50px;
  margin: 0 0 -8px;
}
.sliderDesc {
  position: relative;
  font-size: 18px;
  letter-spacing: 5.4px;
  font-weight: 400;
  color: #fff;
  font-family: "ZCOOL XiaoWei", serif;
}
