@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
  font-size: 16px;
  position: relative;
  overscroll-behavior-y: none;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  font-weight: 600;
}
main {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  height: 100vh;
  transition: 0.5s all linear;
  -webkit-transition: 0.5s all linear;
  -moz-transition: 0.5s all linear;
  -ms-transition: 0.5s all linear;
  -o-transition: 0.5s all linear;
  will-change: transform;
}

.dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 9px;
  transform: translateX(-50%);
  z-index: 10;
  list-style-type: none;
}
.dots {
  display: inline-block;
  padding: 5px;
}
.dots:active button {
  color: #00d8ff;
}
.phone__number {
  padding-left: 12px;
  font-size: 20px;
  font-weight: 700;
}
.CallUs {
  font-size: 14px;
}
.post__section {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "Open Sans";
  color: #666;
  font-size: 16px;
  font-weight: 400;
  margin: 100px auto;
}
.post__section img {
  width: 100%;
}
.post__section p {
  padding: 10px;
  text-align: start;
}

.sliderContent {
  font-size: 20px;
  text-align: center;
}

.slider {
  height: 650px !important ;
}
.sliderTitle {
  color: #ed2433;
  font-size: 160px;
  font-weight: 400;
  line-height: 0.7em;
  margin: 0 0 40px;
  font-family: "ZCOOL XiaoWei", serif;
  display: block;
}
.sliderAlt {
  color: #ed2433;
  font-size: 50px;
  font-weight: 400;
  margin: 0 0 -12px;
  line-height: 0.7em;
  font-family: "ZCOOL XiaoWei", serif;
  margin-bottom: 15px;
  display: block;
}
.sliderDesc {
  position: relative;
  font-size: 18px;
  letter-spacing: 5.4px;
  font-weight: 400;
  color: #fff;
  font-family: "ZCOOL XiaoWei", serif;
}
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
.about__banner__title {
  color: #fff;
  font-size: 10vh;
  line-height: 60px;
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.about__main {
  background-image: url(https://karmasbar.com/wp-content/uploads/2019/05/story_object01.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
}
.about__content {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 60%;
  margin: 0 auto !important;
}
.about__leftContent {
  color: #2c2c2c;

  flex: 50%;
}
.about__leftContent__title {
  line-height: 60px;
  font-size: 54px;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #ed2433;
  margin-bottom: 15px;
  text-align: center;
}
.about__titleBorder {
  height: 20px;
  margin-bottom: 20px;
}
.about__paragraphe {
  font-size: 16px;
}

.about__rightContentImage {
  flex: 50%;
  position: relative;
  overflow: hidden;
  margin: auto;
  min-width: 230px;
  max-width: 450px;
  width: 100%;
  color: #141414;
}
.about__rightContentImage * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
}
.about__rightContentImage img {
  max-width: 100%;
  vertical-align: top;
}
.about__rightContentImage .figmation {
  position: absolute;
  right: 100%;
  width: 100%;
  background: #ffffff;
  padding: 450px 25px 65px;
}
.about__rightContentImage .figmation:before {
  position: absolute;
  content: "";
  z-index: 1;
  bottom: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    to left,
    transparent 0%,
    #ffffff 100%
  );
  background-image: linear-gradient(to right, transparent 0%, #ffffff 100%);
}
.about__rightContentImage:hover .figmation {
  right: -100%;
}
.about__rightContentImage:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.about__banner {
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
}
.about__main2 {
  background-image: url(https://karmasbar.com/wp-content/uploads/2019/05/story_object02.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
}
.about__writtenContent {
  margin: 20px 0px 20px 0;
  max-width: 60%;
  margin: 0 auto;
}
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
.contact__banner__title {
  color: #fff;
  font-size: 10vh;
  line-height: 60px;
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.contact__banner {
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
}
.contact__container {
  display: flex;
  max-width: 60%;
  margin: 60px auto !important;
  flex: wrap;
  flex-flow: row wrap;
}
.col {
  margin: 20px 10px;
  flex: 1;
  display: flex;
  text-align: center;
}
.contact__row__left__content {
  margin: auto auto;
}
.contact__row__left:hover {
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  transition: box-shadow 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
}
.call_us {
  color: #2c2c2c;
  font-size: 28px;
  line-height: 24px;
  font-family: "ZCOOL XiaoWei", serif;
}
.number {
  color: #ed2433;
  padding-left: 12px;
  font-size: 24px;
  font-weight: 700;
}
.phone_orders {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  fill: #ed2433;
  color: #ed2433;
  border-bottom: 2px solid #ed2433;
  line-height: 24px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #495057;
}
.contact__form input,
textarea {
  cursor: text;
  padding: 15px;
  outline: none;
  font-size: 80%;
  border: 1px solid rgba(157, 155, 155, 0.919);
  margin: 10px;
  width: 100%;
}
.contact__title {
  margin: 0 auto;
  justify-content: center;
  font-family: "ZCOOL XiaoWei", serif;
}
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.deals__banner {
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  margin: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 250px;
  display: flex;
  align-items: flex-start;
}
.deals__banner__title {
  color: #fff;
  font-size: 8vh;
  line-height: 50px;
  font-weight: 400;
  font-family: "Cookie", Sans-serif;
  margin-bottom: 50px;
}
.deals__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.deals__content__title {
  margin-top: 20px;
  line-height: 60px;
  font-size: 54px;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #ed2433;
  margin-bottom: 15px;
  text-align: center;
}
.deals__image {
  width: 40%;
}
.deals__coupons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: row wrap;
}
.box {
  flex-grow: 1;
  flex-basis: 150px;
  width: 180px;
  color: white;

  flex: 1;
  background-color: #ed2433;
  border-radius: 0px 0px 0px 0px;
  padding: 32px 24px 24px 24px;
  margin: 0 5px;
  margin-bottom: 10px;
}
.countdown__message {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-family: "Open Sans", Sans-serif;
  font-size: 23px;
  font-weight: 200;
}
.happyhour__content {
  display: flex;
  max-width: 70%;
  text-align: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 80px auto !important;
}

.happyhour__box {
  width: 50%;
  padding: 24px 20px 10px 20px;
}
.happyhour__content__p {
  font-family: "ZCOOL XiaoWei";
  font-weight: 100 !important;
  line-height: 25px;
  color: #495057;
}
.happyhour__bar {
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #f70202;
  border-radius: 300px 300px 300px 300px;
  max-width: 80% !important ;
}
.shadowBox {
  margin-top: 50px;
}

.shadowBox:hover {
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  transition: box-shadow 0.5s ease;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
}
.border {
  border-style: double;
  border-width: 20px 20px 20px 20px;
  border-color: #ed2433;
}
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

.menu__banner {
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 350px;
}
.menu__description {
  font-family: "ZCOOL XiaoWei";
  font-weight: 200 !important;
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 80%;
}
.menu__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.menu__table {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
}
.menu__box {
  width: 50%;
  padding: 24px 20px 10px 20px;
}
.menu__content__title {
  margin-top: 20px;
  line-height: 60px;
  font-size: 54px;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #ed2433;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 50px;
}
@media screen and (max-width: 700px) {
  .menu__box {
    width: 100%;
  }
}

.menu__header1 {
  width: 100%;
}
.menu__header2 {
  display: none;
}
.box__header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
  margin-top: 0;
}
.dash {
  border: 0 none;
  border-bottom: 1px dashed gray;
  opacity: 0.23;
  flex-grow: 1;
}
.item__title {
  font-family: "ZCOOL XiaoWei";
  font-weight: 300;
}
.item__price {
  font-family: "ZCOOL XiaoWei";
  color: #ed2433;
  font-weight: 800;
}
.item__description {
  text-align: start;
  font-family: "ZCOOL XiaoWei";
  color: #616060;
}
.item__status {
  text-align: start;
}
.item__status__content {
  display: inline-flex;

  background-color: #ed2433;
  font-size: 11px;
  line-height: 22px;

  padding: 0px 7px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.menu__image {
  border-style: double;
  border-width: 20px 20px 20px 20px;
  border-color: #ed2433;
}
.image2 {
  border-color: black;
  margin-bottom: 20px;
}
.whatsnew__content {
  display: flex;

  margin: 80px auto;
  max-width: 60%;
}

.whatsnew__left {
  flex: 2;
  margin-right: 30px;
}
.whatsnew__right {
  flex: 1;
}
@media (max-width: 600px) {
  .whatsnew__content {
    flex-direction: column;
  }
  .whatsnew__right {
    margin-top: 30px;
  }
}

.search-box {
  width: 100%;
  position: relative;
  display: flex;
}
.search-input {
  font-size: 14px;
  line-height: 28px;
  width: 100%;
  padding: 0 25px;
  border: 1px solid #ced4da;
  border-right: none;
  outline: none;

  color: #495057;
  background: none;
}
.search-button {
  text-align: center;
  height: 51px;
  width: 60px;
  outline: none;
  cursor: pointer;
  border: none;
  border-left: none;
  background: #ed2433;
  font-size: 20px;
  border-left: 1px solid #ced4da;
}
.recent__post {
  margin-bottom: 40px;
  margin-top: 35px;
  border: 1px solid #eeeeee;
  padding: 40px;
}
.recent__post__title {
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: 200;
}
.border__bottom {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 40px;
  border-top: 2px solid #ed2433;
}
.recent__post__content {
  color: black;
  padding: 30px 10px 5px 10px !important ;
  border-bottom: 1px solid #ced4da;
}
.description {
  padding: 20px 10px;
}
.post__desc {
  border: 1px solid #ced4da;
  margin-top: 5px;
  padding: 10px;
}
.rightcontentimage {
  margin: 0;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.homepage__services {
  background-color: white;
  margin: 80px auto;
  max-width: 70%;
  z-index: 500000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.homepage__services__box {
  padding: 40px 60px 40px;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgb(44 44 44 / 7%);
  flex: 1;
}
@media (max-width: 768px) {
  .homepage__services {
    margin: 80px 80px;

    flex-direction: column;
  }
  .homepage__services__box {
    padding: 40px 100px 40px;
    margin: 20px auto;
  }
}
.homepage__services__title {
  font-family: "ZCOOL XiaoWei", serif;
  font-size: 26px;
  font-weight: 300;
}
.colored__part {
  color: #ed2433;
}
.homepage__services__desc {
  margin-top: 20px;
  color: #666;
  font-weight: 400;
}
.welcome__content {
  text-align: center;
  max-width: 60%;
  margin: 50px auto;
}

.blackTitle {
  text-align: center;
  color: #000;
}
.column {
  max-width: 800px;
  width: 90vw;
  /* display the anchor links in a grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-rows: 300px;
  /* center the content horizontally & vertically */
  justify-content: center;
  align-content: center;
  grid-auto-flow: dense;
}

.gallery__image:nth-of-type(2) {
  grid-column: span 2;
}
.gallery__image:nth-of-type(5) {
  grid-column: span 2;
  grid-row: span 2;
}
.gallery__image:nth-of-type(7) {
  grid-row: span 2;
}
.gallery__image {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  /*transitionthescaleandbrightnessoftheimagewhenhover/focus-ingontheanchorlink*/
  filter: brightness(0.6);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.gallery__image img:focus img,
.gallery__image img:hover img {
  transform: scale(1.1);
  filter: brightness(1.5);
  -webkit-filter: brightness(1.5);
}

.gallery__image {
  height: 30vh;
  width: 25vw;
  border-radius: 4;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex-direction: column;
    flex: 50%;
    max-width: 100%;
  }
}
.gallery {
  width: 100%;
  height: 90px;
  margin-left: 300px;
  margin-top: 80px;
  background-image: url("../../images/story_object02.png");
  background-position: top right;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.home__second__banner {
  margin: auto;
  padding: 60px 100px;
  max-width: 100% !important;
  background-image: url("../../images/flavour_bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 90px;
}
.home__second__banner__content {
  color: white;
  text-align: center;
  padding: 80px 180px;
  flex: 1;
  font-family: "Open Sans";
  font-weight: 400;
}
.home__second__banner__image {
  flex: 1;
}
.specialOffers {
  margin-top: 80px;
  text-align: center;
  background-image: ("../../images/daily_offer_object02.png");
  background-position: bottom right;
  background-repeat: no-repeat;

  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.home__ThirdBanner {
  position: relative;
  background-color: rgba(44, 44, 44, 0.7);
  background-image: url("../../images/karmas-About-Us.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

  margin-top: 80px;
  height: 60%;
}
.brightness__effect {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(44, 44, 44, 0.7);
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -moz-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -ms-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -o-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.whats__happening {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  background-image: ("../../images/news_object01.png");
  background-position: top right;
  background-repeat: no-repeat;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -moz-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -ms-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  -o-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.whats__happening__container {
  background-image: ("../../images/news_object02.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.whats__happening__box {
  box-shadow: 0px 10px 30px 0px rgb(44 44 44 / 7%);
  margin: 0 auto;
  display: flex;
  flex-direction: column !important ;
  align-items: center;
  max-width: 350px;
  flex: 1;
  padding: 30px 20px;
}

.ais-SearchBox-input {
  font-style: italic;
  font-weight: 600;
  border-radius: 0;
  height: 50px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 25px;
  border: 1px solid #ced4da !important;
  border-right: none;
}

.ais-SearchBox-form Button {
  background: #ed2433;
  color: #fff;
  height: 50px;
  padding: 0 20px;
  cursor: pointer;
  border: 1px solid #ced4da;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 10px 5px;
  }
  .home__second__banner {
    flex-direction: column;
  }
}
