@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}
.about__banner__title {
  color: #fff;
  font-size: 10vh;
  line-height: 60px;
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: 400;
  margin-bottom: 50px;
}
.about__main {
  background-image: url(https://karmasbar.com/wp-content/uploads/2019/05/story_object01.png);
  background-position: top left;
  background-repeat: no-repeat;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
}
.about__content {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  max-width: 60%;
  margin: 0 auto !important;
}
.about__leftContent {
  color: #2c2c2c;

  flex: 50%;
}
.about__leftContent__title {
  line-height: 60px;
  font-size: 54px;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #ed2433;
  margin-bottom: 15px;
  text-align: center;
}
.about__titleBorder {
  height: 20px;
  margin-bottom: 20px;
}
.about__paragraphe {
  font-size: 16px;
}

.about__rightContentImage {
  flex: 50%;
  position: relative;
  overflow: hidden;
  margin: auto;
  min-width: 230px;
  max-width: 450px;
  width: 100%;
  color: #141414;
}
.about__rightContentImage * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.35s ease;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
}
.about__rightContentImage img {
  max-width: 100%;
  vertical-align: top;
}
.about__rightContentImage .figmation {
  position: absolute;
  right: 100%;
  width: 100%;
  background: #ffffff;
  padding: 450px 25px 65px;
}
.about__rightContentImage .figmation:before {
  position: absolute;
  content: "";
  z-index: 1;
  bottom: 100%;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    to left,
    transparent 0%,
    #ffffff 100%
  );
  background-image: linear-gradient(to right, transparent 0%, #ffffff 100%);
}
.about__rightContentImage:hover .figmation {
  right: -100%;
}
.about__rightContentImage:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.about__banner {
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px;
}
.about__main2 {
  background-image: url(https://karmasbar.com/wp-content/uploads/2019/05/story_object02.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 100px;
}
.about__writtenContent{
  margin : 20px 0px 20px 0 ; 
  max-width: 60% ;
  margin : 0 auto ; 
}