@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.deals__banner {
  background-position: 60% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  margin: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 250px;
  display: flex;
  align-items: flex-start;
}
.deals__banner__title {
  color: #fff;
  font-size: 8vh;
  line-height: 50px;
  font-weight: 400;
  font-family: "Cookie", Sans-serif;
  margin-bottom: 50px;
}
.deals__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.deals__content__title {
  margin-top: 20px;
  line-height: 60px;
  font-size: 54px;
  font-weight: 400;
  font-family: "Cookie", cursive;
  color: #ed2433;
  margin-bottom: 15px;
  text-align: center;
}
.deals__image {
  width: 40%;
}
.deals__coupons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: row wrap;
}
.box {
  flex-grow: 1;
  flex-basis: 150px;
  width: 180px;
  color: white;

  flex: 1;
  background-color: #ed2433;
  border-radius: 0px 0px 0px 0px;
  padding: 32px 24px 24px 24px;
  margin: 0 5px;
  margin-bottom: 10px;
}
.countdown__message {
  margin-bottom: 20px;
  text-align: center;
  color: #000000;
  font-family: "Open Sans", Sans-serif;
  font-size: 23px;
  font-weight: 200;
}
