.whatsnew__content {
  display: flex;

  margin: 80px auto;
  max-width: 60%;
}

.whatsnew__left{
  flex : 2 ; 
  margin-right : 30px ; 
}
.whatsnew__right{
  flex : 1 ; 
}
@media (max-width: 600px){
  .whatsnew__content{
    flex-direction: column ;
  }
  .whatsnew__right{
    margin-top : 30px ; 
  }
}

.search-box {
  width: 100%;
  position: relative;
  display: flex;
}
.search-input {
  font-size: 14px;
  line-height: 28px;
  width: 100%;
  padding: 0 25px;
  border: 1px solid #ced4da;
  border-right: none;
  outline: none;

  color: #495057;
  background: none;
}
.search-button {
  text-align: center;
  height: 51px;
  width: 60px;
  outline: none;
  cursor: pointer;
  border: none;
  border-left: none;
  background: #ed2433;
  font-size: 20px;
  border-left: 1px solid #ced4da;
}
.recent__post {
  margin-bottom: 40px;
  margin-top: 35px;
  border: 1px solid #eeeeee;
  padding: 40px;
}
.recent__post__title {
  font-family: "ZCOOL XiaoWei", serif;
  font-weight: 200;
}
.border__bottom {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 40px;
  border-top: 2px solid #ed2433;
}
.recent__post__content {
  color: black;
  padding: 30px 10px 5px 10px !important ;
  border-bottom: 1px solid #ced4da;
}
.description {
  padding: 20px 10px;
}
.post__desc{
  border : 1px solid #ced4da ;
  margin-top : 5px ; 
  padding : 10px ; 
  

}
.rightcontentimage{
  margin : 0 ; 
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
