
footer {
  background-color: #191919;
  color: #bbb;
  line-height: 1.5;
  padding: 50px 0px 9px 0px;
  box-sizing: border-box;
  clear:both ; 
  grid-row-start: 2;
  grid-row-end: 3;
  
}
/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:center ; 

  margin : 0 auto ; 
}
@media only screen and (min-width: 29.8125rem /* 477px */) {
  
  .ft-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}
.ft-main-item {
  padding: 1.25rem;
  padding: 40px 34px 40px 23px;

  min-width: 12.5rem;
}


/* Footer legal */
.ft-legal-list {
  display : flex ; 
  flex-wrap : wrap ; 
  align-items : center ; 
  justify-content : space-between ; 
  flex-direction: row;
  margin : 0 auto ; 
  max-width : 80%;
}
.ft-legal {
  background-color: #191919;
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #676767ed;
  

  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.days__list {
  border-bottom: 1px dashed #eeeeee;
  padding: 10px 0;
}
.ft-days-table {
  color: #ed2433;
  padding: 0 34px 40px 23px;
  width: 33.77%;

  text-align: center;
}
.ft-days-table__title {
  color: #ed2433;
 
  font-weight: 400;
}
.ft-item__title {
  font-size: 25px ; 
  margin-bottom : 30px ;
  font-weight: 400;
}
li {
  clear: both;
  display: block;
  list-style: none;
}

.days__list{
  display : flex  ;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin : 0 auto ;  

}