.slider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .wrapper {
    height: 100vh;
    transition: 0.5s all linear;
    will-change: transform;
  }

  .arrows {
    position: absolute;
    top: 50%;
    background: none;
    height: 60px;
    border: 0;
    cursor: pointer;
    transition: ease 0.3s all;
    outline: none;

    &.prev {
      left: 0;

      &:hover {
        opacity: 0.7;
        left: -10px;
      }
    }

    &.next {
      right: 0;

      &:hover {
        right: -10px;
        opacity: 0.7;
      }
    }
  }

  .dots-container {
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    text-align: center;
    left: 50%;
    bottom: 9px;
    transform: translateX(-50%);
    z-index: 10;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 5px;

      &.active {
        button {
          color: #00d8ff;
        }
      }

      button {
        color: #fff;
        background-color: transparent;
        border: none;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }

  .toggle-play {
    background: transparent;
    border: none;
    height: auto;
    position: absolute;
    width: auto;
    right: 5%;
    bottom: 9px;
    color: #3d3d3d;
    z-index: 1000000;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
      cursor: pointer;
    }
  }
                    // ERROR IS HERE 
  .each-slide {
    width: 100vw;
    height: 100vh;
    float: left;
    
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
  }

  .false__content {
    opacity: 0;
    transition: all 2s linear;
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -ms-transition: all 2s linear;
    -o-transition: all 2s linear;
  }
  .active__content {
    animation: fadeIn linear 3s;
    transition: all position 2s linear;
    -webkit-transition: all position 2s linear;
    -moz-transition: all position 2s linear;
    -ms-transition: all position 2s linear;
    -o-transition: all position 2s linear;
    -webkit-animation: fadeIn linear 3s;
  }
//   @keyframes fadeIn {
//     0% {
//       opacity: 0;
//       top: 20%;
//     }
//     100% {
//       opacity: 1;
//       top: 0%;
//     }
//   }
  .slider__content {
    // position: relative;
  }
  .slider__content .inner button {
    -o-transition-delay: 0s;
  }
 
  .slider__content h1 {
    margin: auto;

    color: red;
    font-size: 64px;
    z-index: 121321;
  }
  .slider__content  p {
    color: red;
    font-size: 14px;
    z-index: 121321;
   
  }
}
